  <div class="containercard"> 
     <div class="container d-flex flex-wrap align-self-stretch justify-content-center">

    <div class="card d-flex justify-content-center p-4" style="width: 25rem;">
      <img src="../../../assets/img/CONTA 2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold ">NUESTRA MISIÓN</h5>
        <p class="card-text">Colaborar con las personas que buscan un asesoramiento profesional 
          e integral para sus negocios o proyectos, ofreciendo un servicio contable 
          de calidad inspirado en la confianza. Cumplir con las expectativas y necesidades 
          de nuestros clientes es nuestro gran reto..</p>
      </div>
    </div>
    
      <div class="card d-flex justify-content-center p-4" style="width: 25rem;">
        <img src="../../../assets/img/CONTA 3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">NUESTRA VISIÓN</h5>
          <p class="card-text">Ser un asesor estrategico líder en brindar atencion personalizada 
            de servicios de Auditoría, Contabilidad, y Consultoría a Empresas. Ser el apoyo idóneo
             de las decisiones empresariales de nuestros clientes. Respaldadas en la mas alta 
             confidencialidad y calidad tecnica de nuestros profesionales que dirigen,
              basadas en principios y valores  a fin de contribuir al logro de los objetivos a corto,
               mediano y largo plazo y contribuir al desarrollo económico y humano de nuestro País.</p>
        </div>
  </div>
</div>
