<div class="container-fluid">
  <div class="row p-4 bg_blue text-white">
    <div class="col-xs-12 col-md-6 col-lg-3">
      
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="mb-3 h5">Acerca de Nosotros</p>
      <div class="mb-2">
        <a class="text-white text-decoration-none" href="">Nuestra compañia</a>
        @2022 | Todos los derechos reservados | Bogotá-Colombia
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="mb-3 h5">¿Tienes una pregunta?</p>
      <div class="mb-2">
        <p class="mb-4 h6">Horarios de Atención</p>
      </div>
      <div class="mb-2">
        <p class="mb-2 h6">L-V 7am - 6pm</p>
      </div>
      <div class="mb-2">
        <p class="mb-2 h6">S 8am - 12m</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <p class="h5">Contáctanos</p>
      <div class="d-flex">
        <img
          class="img-fluid img_sice1 me-2"
          src="../../../assets/img/REDES_SOCIALES/telefono-movil.png"
          alt=""
        />
        <p class="d-flex align-items-center h6 mb-3">018000123456 - 3001234567</p>
      </div>
      <div class="d-flex">
      </div>
      <div class="d-flex">
        <img
          class="img-fluid img_sice1 me-2 mb-2"
          src="../../../assets/img/REDES_SOCIALES/correo-electronico.png"
          alt=""
        />
        <p class="d-flex align-items-center h6">contacto@nuestraempresa.com</p>
      </div>
       </div>
